.App {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

div.Breakdown {
  background-color: transparent;
  margin: 0px 10px;
}

div.Breakdown-container {
  border-left: 10px solid #0000FF11;
  margin: 10px 10px;
}

p.Breakdown-text {
  padding: 10px 10px;
  margin: 0px 0px;
}

.Breakdown:nth-child(odd) {
  background-color: #CCCCFF55;
}

.Breakdown:nth-child(even) {
  background-color: #EEEEFF55;
}

button.Breakdown-collapse {
  background: none;
  border: none;
  margin: 0px 5px;
}